{% extends "base.html" %}

{% block content %}


{% if user.is_authenticated %}

<h1> Welcome {{user.username}} </h1>
<br/>

<table class="table table-striped  table-hover table-bordered">
  <thead class = "table-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Empresa</th>
      <th scope="col">Sector</th>
      <th scope="col">Pais</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
      <th scope="col">Direccion</th>
      <th scope="col">Fecha</th>
      <th scope="col">ID</th>



    </tr>
  </thead>
  <tbody>
    

{% if records %}
  {% for record in records %}
    <tr>
      <td>{{ record.nombre }}</td>
      <td>{{ record.empresa }}</td>
      <td>{{ record.sector }}</td>
      <td>{{ record.pais }}</td>
      <td>{{ record.telefono }}</td>
      <td>{{ record.email }}</td>
      <td>{{ record.direccion }}</td>
      <td>{{ record.creado }}</td>
      <td><a href = "{% url 'record' record.id %}">{{record.id}}</a></td>


    </tr>
  {% endfor %}
    
    
{% endif %}

    </tr>
  </tbody>
</table>


{% else %}

<div  class = "col-md-6 offset-md-3">

<h1>Login</h1>
<br/>

<form method = "POST" action = "{% url 'home' %}">
    {% csrf_token %}
    
      <div class="mb-3">

        <input type="text" class="form-control" name = "username", placeholder = 
        "User Name" required>
      </div><br/>

      <div class="mb-3">
        <input type="password" class="form-control" name = 
        "password", placeholder = "Password" required>
        
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
    
</form>

{% endif %}

{% endblock %}


