{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Update Product</h1>
<br/>

<form method="POST">
	{% csrf_token %}

    {{ form.proveedor }}<br/>
    {{ form.pais }}<br/>
    {{ form.tipo }}<br/>
    
    <div class="form-group form-check">
        {{ form.ecologico }}
        <label class="form-check-label" for="{{ form.ecologico.id_for_label }}"> {{ form.ecologico.label }}</label>
    </div><br/>
    
    {{ form.certificaciones }}<br/>
    {{ form.pedido_minimo_kg }}<br/>
    {{ form.precio_min }}<br/>
    {{ form.precio_500_kg }}<br/>
    {{ form.precio_1000_kg }}<br/>
    {{ form.ficha_tecnica }}<br/>
<br/>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<button type="submit" class="btn btn-secondary">Update Product</button>


</form>

</div>

{% endblock %}